{% extends "layouts/main.html" %}

{% set pageName = "Are you in immediate danger right now?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["immediate-danger"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["immediate-danger"], href: "#immediate-danger" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukRadios({
      name: "immediate-danger",
      fieldset: {
        legend: {
          text: "Are you in immediate danger right now?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: { text: "This includes if someone is threatening you or you fear for your safety." },
      errorMessage: errors["immediate-danger"] if errors else null,
      value: data["immediate-danger"],
      items: [
        { value: "yes", text: "Yes" },
        { value: "no", text: "No" }
      ]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
